/*navbar css */
.navbar{
    background-color: #555658;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar input{
    padding:15px ;
    display:block;
}
.navbar a{
    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: #A5E887;
}
.navbar li{
    float: left;
}


/*Backgrounds*/
.bg1{
    background-color: #A5E887;
}
.bgjungle{
    background-image: url(/assets/Sfeerbeeld\ jungle\ Cropped.jpg);
    background-position-y:38%;
    color: white;
}

/*Kleuren*/
.junglegroen{
color: #089103;
}
.lgroen{
    color: #A5E887;
}

/*Tekst*/
.textborder{
    text-shadow: h-shadow v-shadow blur-radius black;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article p{
    margin: 10px;
}

/*Images*/
.sfeerbeeld{
    display: block;
    width: 1200px;
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo-image{
    width: 160px;
    height: 60px;
    overflow: hidden;
}
.author-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}





